<header class="contact">
  <h2>Contact</h2>
</header>

<section class="contact">

  <article class="team">
    <h3>Contactez directement les secré&shy;tariats des avocats&nbsp;:</h3>

    <p>
      <strong>Me Jacques Micheli</strong><br />
      <%= mail_to 'micheli@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 91
      fax : 021 319 90 92
    </p>

    <p>
      <strong>Me Jean-Jacques Schwaab</strong><br />
      <%= mail_to 'jjs@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 96
      fax : 021 319 90 92
    </p>

    <p>
      <strong>Me Catherine Jaccottet Tissot</strong><br />
      <%= mail_to 'jaccottet@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 93
      fax : 021 319 90 80
    </p>

    <p>
      <strong>Me Joël Crettaz</strong><br />
      <%= mail_to 'crettaz@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 94
      fax : 021 319 90 80
    </p>

    <p>
      <strong>Me Anne-Sylvie Dupont</strong><br />
      <%= mail_to 'dupont@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 95
      fax : 021 319 90 80
    </p>

    <p>
      <strong>Me Sandrine Chiavazza</strong><br />
      <%= mail_to 'chiavazza@avopep.ch', nil, encode: 'hex' %><br />
      tél : 021 319 90 92
      fax : 021 319 90 80
    </p>
  </article>

  <article class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Place+P%C3%A9pinet+4,+Lausanne,+Switzerland&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear=Place+P%C3%A9pinet+4,+1003+Lausanne,+Vaud,+Switzerland&amp;t=m&amp;vpsrc=0&amp;z=16&amp;iwloc=near&amp;output=embed"></iframe>
  </article>

  <article class="informations">
    <address>
      <strong>Etude Pépinet 4</strong><br />
      Place Pépinet 4<br />
      Case Postale 6919<br />
      1002 Lausanne
    </address>

    <section class="phones">
      <strong>Tél</strong> : 021 319 90 90<br />
      <strong>Fax</strong> : 021 319 90 80
    </section>

    <section class="schedule">
      <strong>Réception</strong> :<br /> 8h00 – 12h00 / 13h30 – 17h00<br />
      <strong>Téléphone</strong> :<br /> 9h00 – 12h00 / 13h30 – 17h00
    </section>
  </article>

</section>
