<section class="team">
  <nav class="previous"><button><span>précédent</span></button></nav>
  <section>

    <article>
      <h2>Me Jacques Micheli</h2>

      <p><strong>Me Jacques Micheli</strong> a obtenu son brevet en 1973. Il est, avec Me Philippe Nordmann, le fondateur de l'Etude
        Pépinet 4. Il bénéficie d'une riche expérience professionnelle dans tous les domaines du droit. Connu pour sa ténacité et son
        efficacité, il pratique principalement le droit du bail, le droit du travail, le droit de la famille et le droit des assurances.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 91<br />
        email: <%= mail_to 'micheli@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-jacques-micheli.png' %>
    </article>

    <article>
      <h2>Me Jean Jacques Schwaab</h2>

      <p><strong>Me Jean Jacques Schwaab</strong> a obtenu son brevet en 1977. Avocat généraliste, il pratique en particulier le droit du bail,
        le droit du travail et le droit des contrats en général. Ancien conseiller national et conseiller d'Etat, il connaît parfaitement les
        rouages de l'administration cantonale et fédérale, ce qui lui permet d'intervenir dans tous les dossiers de droit administratif, notamment
        les constructions et les autorisations de séjour. Il accepte aussi des mandats du droit de la famille.</p>

      <p>Parallèlement à son activité d'avocat, Me Schwaab participe à l'administration de plusieurs sociétés commerciales et de fondations.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 96<br />
        email: <%= mail_to 'jjs@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-jean-jacques-schwaab.png' %>
    </article>

    <article>
      <h2>Me Catherine Jaccottet Tissot</h2>

      <p><strong>Me Catherine Jaccottet Tissot</strong> a obtenu son brevet en 1983. Elle s'est rapidement spécialisée dans le droit de la famille,
        la défense des droits fondamentaux de la personne, le droit du travail et le droit de l'égalité entre les femmes et les hommes. Me Jaccottet
        Tissot est détentrice du titre de médiatrice FSA et propose également ses services pour la résolution des conflits par des modes alternatifs
        (médiation).</p>

      <p>Me Jaccottet Tissot est l'avocate-conseil de nombreuses associations à vocation sociale.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 93<br />
        email: <%= mail_to 'jaccottet@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-catherine-jaccottet-tissot.png' %>
    </article>

    <article>
      <h2>Me Joël Crettaz</h2>

      <p><strong>Me Joël Crettaz</strong> a obtenu son brevet d'avocat en 1991. Il pratique le droit de la responsabilité civile, avec une prédilection
        pour la responsabilité médicale, ainsi que le droit des assurances, sociales et privées, le droit du travail, le droit du bail et le droit de la
        famille.</p>

      <p>Parallèlement à son activité d'avocat, Me Crettaz fonctionne comme consultant au sein de l'ASSUAS-Vaud. Il est également actif depuis de
        nombreuses années dans la vie culturelle de la Ville de Lausanne.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 94<br />
        email: <%= mail_to 'crettaz@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-joel-crettaz.png' %>
    </article>

    <article>
      <h2>Me Anne-Sylvie Dupont</h2>

      <p><strong>Me Anne-Sylvie Dupont</strong> a obtenu son brevet en mai 2007. Spécialiste FSA en droit de la responsabilité civile et en droit des assurances, elle consacre l'essentiel de
        son activité professionnelle aux affaires relevant du droit de la responsabilité civile et des assurances de personnes (assurances sociales,
        assurances perte de gain). Me Dupont traite également de toutes les questions annexes qui se posent dans les dossiers qui lui sont confiés,
        en particulier des aspects pénaux et administratifs, notamment en cas d'accidents de la circulation routière.</p>

      <p>Parallèlement à son activité d'avocate, Me Dupont enseigne le droit des assurances sociales à la Faculté de droit de Neuchâtel. Elle est
        vice-présidente de l'ASSUAS-Vaud et préside la Commission vaudoise des PAH de Pro Infirmis.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 95<br />
        email: <%= mail_to 'dupont@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-anne-sylvie-dupont.png' %>
    </article>

    <article>
      <h2>Me Sandrine Chiavazza</h2>

      <p><strong>Me Sandrine Chiavazza</strong> a obtenu son brevet en février 2011. Avocate généraliste, elle pratique notamment le droit des
        successions, le droit du travail et des contrats, le droit de la famille, le droit pénal, le droit de la circulation routière et le droit des
        étrangers. Au bénéfice d'un parcours international, Me Chiavazza est à même de traiter des dossiers en espagnol, en anglais et en italien.</p>

      <p>Parallèlement à son activité d’avocate, Me Chiavazza est membre du comité de la Ligue suisse des droits de l’homme section vaudoise et
        fonctionne comme consultante au sein de l’ASSUAS-Vaud.</p>

      <h3>Langues parlées</h3>
      <p>Français, Allemand, Anglais, Espagnol, Italien</p>

      <h3>Contact</h3>
      <p>téléphone: 021 319 90 92<br />
        email: <%= mail_to 'chiavazza@avopep.ch', nil, encode: 'hex' %></p>

      <%= image_tag 'team-sandrine-chiavazza.png' %>
    </article>

  </section>
  <nav class="next"><button><span>suivant</span></button></nav>
  <nav class="people">
    <ul>
      <li><button>Me Jacques Micheli</button></li>
      <li><button>Me Jean Jacques Schwaab</button></li>
      <li><button>Me Catherine Jaccottet Tissot</button></li>
      <li><button>Me Joël Crettaz</button></li>
      <li><button>Me Anne-Sylvie Dupont</button></li>
      <li><button>Me Sandrine Chiavazza</button></li>
    </ul>
  </nav>
</section>
