<header id="annexe">
  <h2>Mises à jour: Divorcer, un guide juridique</h2>
</header>
<section class="update_books">
  <% @book_updates.each do |book| %>
    <div class="updates">
      <div class="text">
        <h2><%= book.title %></h2>
        <p class="created_at"><%= book.created_at.strftime('%d.%m.%Y') %></p>
        <p><%= book.content %></p>
      </div>
      <div class="sidebar">
        <p class="chapter"><%= book.chapter %>, <%= book.alinea %></p>
        <% if book.file.present? %>
          <a href="<%= book.file %>" target="_blank"><%= image_tag 'download.png' %></a>
        <% end %>
      </div>
    </div>
  <% end %>
</section>