<!DOCTYPE html>
<html>
<head>
  <title>EtudePepinet</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag('background.jpg', class: 'background', size: '1300x855') %>

  <%= yield %>

</body>
</html>
