<!DOCTYPE html>
<html class="<%= current_page?('/') ? 'homepage' : '' %>">
<head>
  <title>EtudePepinet</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag('background-page.jpg', class: 'background', size: '1300x855') %>

  <header>
    <content>
    <h1><%= link_to('Étude Pépinet 4 - Avovats', root_path) %></h1>
      <nav>
        <ul>
          <li><%= link_to_with_active('accueil',                '/'           ) %></li>
          <li><%= link_to_with_active('étude',                  '/etude'      ) %></li>
          <li><%= link_to_with_active('équipe',                 '/equipe'     ) %></li>
          <li><%= link_to_with_active('domaines de compétence', '/competence' ) %></li>
          <li><%= link_to_with_active('tarifs',                 '/tarifs'     ) %></li>
          <li><%= link_to_with_active('actualites',             '/actualites' ) %></li>
          <li><%= link_to_with_active('ressources',             '/ressources' ) %></li>
          <li><%= link_to_with_active('postes à pourvoir',      '/postes'     ) %></li>
          <li><%= link_to_with_active('contact',                '/contact'    ) %></li>
        </ul>
      </content>
  </header>

  <content>
    <%= yield %>
  </content>

  <footer>
    <content>
      <address>
        <strong>Etude Pépinet 4</strong><br />
        Place Pépinet 4<br />
        Case Postale 6919<br />
        1002 Lausanne
      </address>

      <content class="news">
        <h3>Dernières news</h3>
        <article><em>31 Août 2011</em> - <%= link_to truncate('Dernières nouvelles en provenance du parquet', length: 45), '#' %></article>
        <article><em>17 juillet 2011</em> - <%= link_to truncate('Un dossier plus important qu’il n’y paraît lorem ipsum bla bla bla', length: 45), '#' %></article>
        <article><em>24 juin 2011</em> - <%= link_to truncate('Tout sur le droit des affaires', length: 45), '#' %></article>
      </content>

      <content class="schedule">
        <strong>Tél</strong> : 021 319 90 90<br />
        <strong>Fax</strong> : 021 319 90 80<br />
        <strong>Réception</strong> : 8h00 – 12h00 / 13h30 – 17h00<br />
        <strong>Téléphone</strong> : 9h00 – 12h00 / 13h30 – 17h00
      </content>
    </content>
  </footer>

  <div class="overlay"></div>
</body>
</html>
